@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&family=Koulen&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(230, 228, 228);
}

.head {
    width: 100%;
    min-width: 1200px;
    height: 92px;
    overflow: visible;
    background-color: rgb(48, 58, 64);
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar {
    max-width: 1200px;
    height: 92px;
    overflow: visible;
    background-color: rgb(48, 58, 64);
    box-sizing: border-box;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 9999;
}


.logo {
    width: 25%;
    overflow: hidden;
}

.logo img {
    width:  60%;
    object-fit: cover;
    float: left;
}

.menu {
    width: 75%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    position: relative;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    position: relative;
    float: left;
}

.menu > ul > li > a {
    text-decoration: none;
    display: block;
    color: rgb(147, 166, 53);
    padding: 15px;
    font-family: "Koulen", sans-serif;
    font-size: 20px;
}

.menu > ul > li > a:hover {
    color: rgb(255, 255, 255);
}

.dropdown-content {
    position: absolute;
    top: 95%;
    left: -200%;
    background-color: white;
    min-width: 550px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
}


.menu ul li.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}


.province-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Koulen", sans-serif;
    font-size: 18px;
    text-align: center;
}

.province-list li {
    white-space: nowrap;
    border-radius: 3px;
}

.province-list li a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: black;
    padding: 4px 14px;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.province-list li a:hover {
    color: orange;
}

.container {
    width: 1200px;
    height: auto;
    overflow: hidden;
    background-color: rgb(230, 228, 228);
    margin: auto;
    font-size: 22px;
    margin-top: 80px;
}

.container h1 {
    font-size: 42px;
    font-family: "Koulen", sans-serif;
    color: black;
    margin-bottom: 5px;
}

.container a {
    text-decoration: none;
    font-size: 22px;
    font-family: "Koulen", sans-serif;
    color: black;
}





.heading {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}


.content-image {
    width: 68%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.left-side {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.left-side .mySwiper2 {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    overflow: hidden;
}

.left-side .mySwiper2 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}


.left-side .mySwiper {
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    box-sizing: border-box;
}

.left-side .mySwiper .swiper-slide {
    width: 20%;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;
}

.left-side .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.left-side .mySwiper img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.infor-res {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deathline {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 20px;
    
}

.deathline h1 {
    margin: 0;
    font-size: 32px;
    margin-bottom: 20px;
}

.deathline span {
    font-size: 19px;
    margin-left: 50px;
}

.general-infor {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 20px;
}

.general-infor h1 {
    margin: 0;
    font-size: 28px;
    margin-bottom: 10px;
}

.general-infor p {
    margin: 0;
    font-size: 18px;
}

.rateing {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 20px;
}

.rateing h1 {
    margin: 0;
    font-size: 28px;
    margin-bottom: 20px;
}

.table {
    width: 97%;
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 246, 246);
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

.tab-left {
    width: 50%;
    height: auto;
    overflow: hidden;
    float: left;
}

.tab-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab-left ul li {
    font-size: 18px;
    padding: 15px 5px;
}

.tab-right {
    width: 45%;
    height: auto;
    overflow: hidden;
    border: 8px;
    float: left;
}

.tab-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.tab-right ul li {
    font-size: 18px;
    padding: 15px 5px;
    margin-right: 10px;
    color: orange;
}

















.right-side {
    width: 30%;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.image-menu {
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 0;
}

.image-menu img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.booking-form {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 0;
    margin: 0;
}


.form {
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px 20px;
}

.form h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.name input{
    width: 100%;
    height: 38px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 6px;
    margin-top: 5px;
    position: relative;
    font-size: 15px;
    font-family: "Hanuman", serif;
    padding: 5px 10px;
}

.time select {
    width: 49%;
    height: 38px;
    overflow: hidden;
    float: left;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 6px;
    margin-top: 5px;
    position: relative;
    font-size: 15px;
    font-family: "Hanuman", serif;
    padding: 5px 10px;
}

.date input {
    width: 49%;
    height: 38px;
    overflow: hidden;
    float: right;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 6px;
    margin-top: 5px;
    position: relative;
    font-size: 15px;
    font-family: "Hanuman", serif;
    padding: 5px 10px;
    
}

.national input {
    width: 49%;
    height: 38px;
    float: left;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 6px;
    margin-top: 5px;
    position: relative;
    font-size: 15px;
    font-family: "Hanuman", serif;
    padding: 5px 10px;
}

textarea {
    width: 100%;
    height: 130px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 16px;
    font-family: "Hanuman", serif;
}

.sub-forom button {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgb(48, 58, 64);
    font-size: 16px;
    color: white;
    font-family: "Hanuman", serif;
}

.sub-forom button:hover {
    background-color: orange;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}











.location {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.location h1 {
    text-align: center;
    font-size: 28px
}

.location-box {
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-color: rgb(250, 246, 246);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}























.footer {
    width: 100%;
    min-width: 1200px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.footer-contents {
    width: 100%;
    min-width: 1200px;
    height: auto;
    overflow: hidden;
    background-color: rgb(48, 58, 64);
    border-radius: 180px 0  0 0;
    margin-top: 100px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-box {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.foot-about {
    width: 20%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-left: 80px;
    margin-right: 100px;
}

.foot-about img {
    width: 70%;
    margin: 0;
}

.foot-about p {
    color: white;
    font-size: 17px;
    font-family: "Koulen", sans-serif, "Roboto", sans-serif;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 30px;
}

.foot li {
    font-family: "Koulen", sans-serif, "Roboto", sans-serif;
    font-size: 18px;
    line-height: 2.2;
    color: white;
}

.foot-about a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family: Roboto;
    font-weight: bold;
}


.foot {
    width: 20%;
    height: auto;
    float: left;
    margin-left: 20px;
}

.foot h1 {
    font-size: 30px;
    font-family: "Koulen", sans-serif;
    margin: 0;
    margin-top: 20px;
    color: rgb(147, 166, 53);
}

.foot ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.foot ul li a{
    text-decoration: none;
    font-family: "Koulen", sans-serif, "Roboto", sans-serif;
    font-size: 18px;
    line-height: 2.2;
    color: white;
}

.foot ul li a:hover {
    color: rgb(242, 209, 148);
}

hr {
    width: 75%;
    align-items: center;
    border: 0.5px solid rgb(172, 163, 163);
    margin: 0;
}

.footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}