@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&family=Koulen&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(230, 228, 228);
}

.head {
    width: 100%;
    min-width: 1200px;
    height: 92px;
    overflow: visible;
    background-color: rgb(48, 58, 64);
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar {
    max-width: 1200px;
    height: 92px;
    overflow: visible;
    background-color: rgb(48, 58, 64);
    box-sizing: border-box;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 9999;
}


.logo {
    width: 25%;
    overflow: hidden;
}

.logo img {
    width:  60%;
    object-fit: cover;
    float: left;
}

.menu {
    width: 75%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    position: relative;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    position: relative;
    float: left;
}

.menu > ul > li > a {
    text-decoration: none;
    display: block;
    color: rgb(147, 166, 53);
    padding: 15px;
    font-family: "Koulen", sans-serif;
    font-size: 20px;
}

.menu > ul > li > a:hover {
    color: rgb(255, 255, 255);
}

.dropdown-content {
    position: absolute;
    top: 95%;
    left: -200%;
    background-color: white;
    min-width: 550px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
}


.menu ul li.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}


.province-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Koulen", sans-serif;
    font-size: 18px;
    text-align: center;
}

.province-list li {
    white-space: nowrap;
    border-radius: 3px;
}

.province-list li a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: black;
    padding: 4px 14px;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.province-list li a:hover {
    color: orange;
}

.container {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 70px;
    box-sizing: border-box;
}

.container h1 {
    font-size: 42px;
    font-family: "Koulen", sans-serif;
    color: black;
    margin-bottom: 5px;
}

.container a {
    text-decoration: none;
    font-size: 22px;
    font-family: "Koulen", sans-serif;
    color: black;
}


.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    box-sizing: border-box;
}

.infor-border {
    width: 31%;
    height: 100%;
    overflow: hidden;
    float: left;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 0px 6px;
}

.infor {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.infor h1 {
    margin: 0;
    margin-top: 15px;
    font-size: 27px;
    font-family: "Koulen", sans-serif;
}

.infor p {
    margin: 0;
    font-size: 16px;
}

.map {
    width: 100%;
    height: 355px;
    overflow: hidden;

    border-radius: 10px;
    margin-bottom: 30px;
}

.map iframe {
    border-radius: 10px;
    
}

.image {
    width: 67%;
    height: auto;
    overflow: hidden;
    float: right;
    position: relative;
}

.image h1 {
    margin: 0;
    margin-top: 15px;
    font-family: "Koulen", sans-serif;
    font-size: 28px;
}

.image p {
    margin: 0;
    font-size: 18px;
}

.image a {
    margin: 0;
    font-size: 18px;
    color: rgb(122, 168, 105);
}

.content-image {
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin-top: 20px;
    box-sizing: border-box;
}

.image-top {
    width: 100%;
    height: 57%;
    overflow: hidden;
}

.left-side {
    width: 35.50%;
    height: 100%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

.left-side-top {
    width: 100%;
    height: 48%;
    overflow: hidden;
    border-radius: 10px;
}

.left-side-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s ease;
    filter: brightness(80%);
}

.left-side-top img:hover {
    transform: scale(1.1);
}

.left-side-buttom {
    width: 100%;
    height: 49%;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
}

.left-side-buttom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s ease;
    filter: brightness(80%);
}

.left-side-buttom img:hover {
    transform: scale(1.1);
}


.right-side {
    width: 63%;
    height: 100%;
    overflow: hidden;
    float: right;
    border-radius: 15px;
}

.right-side img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.5s ease;
    filter: brightness(80%);
}

.right-side img:hover {
    transform: scale(1.1);
}


.image-buttom {
    width: 100%;
    height: 37%;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-box {
    width: 32.50%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    filter: brightness(80%);
}

.img-box img:hover {
    transform: scale(1.1);
}










.detail {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.detail-infor {
    width: 49.50%;
    height: auto;
}

.detail-infor h1 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 8px;
}

.detail-infor span {
    font-family: "Koulen", sans-serif;
    font-size: 18px;
    margin: 0;
    color: rgb(59, 54, 54);
}

.detail-infor p {
    font-size: 18px;
}

.detail-infor ul li {
    font-size: 18px;
    margin: 0;
}






.accessary {
    width: 50%;
    height: auto;
    overflow: hidden;
    float: left;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.accessary-items {
    width: 100%;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.icon {
    width: 10%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.icon img {
    width: 100%;
    object-fit: cover;
}

.text p{ 
    margin-left: 10px;
    font-size: 18px;
}







.form {
    width: 95%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    float: right;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.the-infor {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.the-infor h1 {
    font-size: 26px;
    font-family: "Koulen", sans-serif;
    color: black;
    display: inline;
}

.the-infor p {
    font-size: 18px;
    color: black;
    display: inline;
    margin-left: 270px;
}

.check-in {
    width: 100%;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 20px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adult {
    width: 48%;
    height: 40px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 20px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kid {
    width: 48%;
    height: 40px;
    overflow: hidden;
    float: right;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 20px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.the-infor label {
    font-size: 18px;
}

.the-infor input {
    border: none;
    font-size: 16px;
}

.the-infor select {
    border: none;
    outline: none;
}

.name-card label {
    font-size: 18px;
}

.name-card input {
    width: 100%;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.num-card label {
    font-size: 18px;
}

.num-card input {
    width: 100%;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.date-in-out {
    width: 100%;
    height: 75px;
    overflow: hidden;
}

.exspired {
    width: 48%;
    height: 80px;
    float: left;
}

.exspired label {
    font-size: 18px;
}

.exspired input {
    width: 100%;
    height: 40px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.cvv {
    width: 48%;
    height: 80px;
    float: right;
}

.cvv label {
    font-size: 18px;
}

.cvv input {
    width: 100%;
    height: 40px;
    overflow: hidden;
    float: right;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.pay-ways {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pay-img {
    width: 15%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-img img {
    width: 70%;
    object-fit: cover;  
}

.pay-img-2 {
    width: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    align-items: center;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.payment h1 {
    display: inline;
}


.payment p {
    display: inline;
    margin-left: 360px;
}

.click {
    display: flex;
    justify-content: center;
    align-items: center;
}

.click button {
    width: 130px;
    height: 45px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Koulen",sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(230, 179, 50);
    cursor: pointer;
}












.footer {
    width: 100%;
    min-width: 1200px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.footer-contents {
    width: 100%;
    min-width: 1200px;
    height: auto;
    overflow: hidden;
    background-color: rgb(48, 58, 64);
    border-radius: 180px 0  0 0;
    margin-top: 100px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-box {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.foot-about {
    width: 20%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-left: 80px;
    margin-right: 100px;
}

.foot-about img {
    width: 70%;
    margin: 0;
}

.foot-about p {
    color: white;
    font-size: 17px;
    font-family: "Koulen", sans-serif, "Roboto", sans-serif;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 30px;
}

.foot li {
    font-family: "Koulen", sans-serif, "Roboto", sans-serif;
    font-size: 18px;
    line-height: 2.2;
    color: white;
}

.foot-about a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family: Roboto;
    font-weight: bold;
}


.foot {
    width: 20%;
    height: auto;
    float: left;
    margin-left: 20px;
}

.foot h1 {
    font-size: 30px;
    font-family: "Koulen", sans-serif;
    margin: 0;
    margin-top: 20px;
    color: rgb(147, 166, 53);
}

.foot ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.foot ul li a{
    text-decoration: none;
    font-family: "Koulen", sans-serif, "Roboto", sans-serif;
    font-size: 18px;
    line-height: 2.2;
    color: white;
}

.foot ul li a:hover {
    color: rgb(242, 209, 148);
}

hr {
    width: 75%;
    align-items: center;
    border: 0.5px solid rgb(172, 163, 163);
    margin: 0;
}

.footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}